.calculator {
    width: 300px;
    margin: 0 auto;
    border: .05px solid #eee;
    border-radius: 5px;
    padding: 10px;
}

.display {
    width: 90%;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #eee;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

button {
    width: calc(28% - 15px);
    height: 50px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #dddd;
}

button:hover {
    background-color: #cccccc;
}
